body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
} 


.news_container{  
    border-left: solid grey 2.5px; 
    border-right:solid grey 2.5px; 
    border-bottom:solid grey 2.5px;
    border-top:solid green 4px;  
    border-radius: 5px;
    margin: 10px 10px; 
    padding: 10px;
    width:330px; 
    height:430px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); 
    overflow: auto;
   
    
}

.new_image{ 
    display:block;
    width:100%; 
    height:initial;  
    margin-top:10px; 
  margin-right:inherit; 
  margin-bottom: 10px;
} 

.article-title{
    font-weight:600; 
    text-align:left;
} 

.article_description{
  font-size: 12px; 
} 

.news__item{ 
    display: inline-block; 
    float:left; 
    padding:5px;
    width: 33%;  
} 

.news__list{ 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; 
    list-style-type:none;  
    text-align: left; 
    
}
